@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Lobster&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Pacifico&display=swap');
@import "tailwindcss";

@theme{
    --font-pacifico:"Pacifico", cursive;
}